body {
  margin: 0;
  text-align: center;
  color: #40514E;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  width: 10%;
  border-style: dotted none none none;
  border-width: 5px;
  color: gray;
  margin:100px auto;
}

p {
  line-height: 2;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align:left;
}

.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
}

.pika-image {
  width: 15%;
}

.girl-image {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.facilitator-image {
  width: 30%;
  float: right;
  margin-left: 30px;
}

.middle-container {
  margin:100px 0;

}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.re {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 30px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-me {
  width: 50%;
  margin: 40px auto 60px;
}

.copyright {
  color:#EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color:#EAF6F6;
}


.btn {
   background: #11CED4;
   background-image: -webkit-linear-gradient(top, #11CED4, #11999E);
   background-image: -moz-linear-gradient(top, #11CED4, #11999E);
   background-image: -ms-linear-gradient(top, #11CED4, #11999E);
   background-image: -o-linear-gradient(top, #11CED4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CED4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family:'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4CD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4CD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4CD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4CD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4CD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
